/* NAVIGATION BAR */
.nav-bar-container {
  min-height: 8vh;
  min-width: 100vw;
  border: 1px solid red;
  display: flex; 
  justify-content: space-between;
}

.nav-links {
  border: 3px solid purple;
  display: flex;
  min-width: 50vw;
}

.nav-link {
  border: 1px solid green;
  display: flex;
  flex-grow: 4;
  justify-content: center;
  align-items: center; 
  text-decoration: none;
}

.nav-link:hover {
  border: 1px solid green;
  text-decoration: none;
  background-color: black;
  transition: 0.5s;
}

/* FOOTER */

.footer-container {
  border: 1px solid red;
  min-width: 100vw;
}

/* HOME PAGE BIO CONTAINER */
.bio-container {
  --bio-container-width: 33vw;
}

.bio-container {
  display: flex;
  max-width: var(--bio-container-width);
  min-height: 85vh;
  flex-direction: column;
  align-items: center;
  border: 1px solid red;
}

.bio-image {
  min-width: auto;
} 

.img-circle {
  border-radius: 120px;
  box-shadow: 0px 0px 0px 5px lightgrey;
}

.link-container {
  display: flex;
  justify-content: center;
  min-width: var(--bio-container-width);
  border: 1px solid red;
}

.link {
  margin: 10px;
}

i.fa {
  font-size: 40px;
}

/* HOME PAGE PROJECTS */
.screenshots-container {
  display: flex;
  max-width: 100vw;
  flex-wrap: wrap;
  border: 1px solid blue;
  justify-content: center;
}

.screenshots-container > img {
  max-height: 35vh;
  padding: 10px;
}

/* HOME TOP */
.home-top-container {
  min-height: 100vh;
  border: 1px solid red;
}

.home-portfolio-container {
  min-height: 25vh;
  border: 1px solid red;
}
